:root {
  --color-background: #0B0B0C;
  --color-card: #1A1A1C;
  --color-text: #E6E6E6;
  --color-primary: #103963;
  --color-secondary: #7A1F2A;
  --color-hover: #103963;

  --color-bg: #0B0B0C;
  --color-blue: #103963;
  --color-bordo: #7A1F2A;
  --color-grey-1: #2A2A2A;
  --color-grey-2: #3A3A3A;
}